{% extends "base.html" %}
{% block title %} السياسة الخارجية {% endblock %}
{% block content %}

<div class="container my-5">
    <div class="text-center mb-5">
        <h1 class="display-5 fw-bold text-primary">السياسة الخارجية</h1>
    </div>

    <div class="fs-5">
        <p>
            تستند السياسة الخارجية الأردنية إلى حقيقة أن الأردن حامل رسالةِ الثورة العربية الكبرى التي أطلقها جلالة المغفور له الشريف حسين بن علي -طيّب الله ثراه- هادفًا لتحقيق استقلال العرب وحريتهم ووحدتهم.
        </p>

        <p>
            وواصلت القيادة الهاشمية حملَ هذه الرسالة التي أضفت إلى الدبلوماسية الأردنية الكثير من الخصوصية والتميُّز، وما تزال هذه القيادة الملهمة الحكيمة توجه دفة السياسة الخارجية للمملكة لمواجهة محدودية الموارد الاقتصادية وللاستجابة للتحديات المتزايدة في منطقة الشرق الأوسط التي تعاني من الصراعات والنزاعات والتقلُّبات السياسية المتكررة.
        </p>

        <p>
            ويمارس الأردن سياسته الخارجية من خلال إدامة علاقاته وتنميتها مع الدول الأخرى والمنظمات الإقليمية والدولية، منتهجًا دبلوماسية نشِطة فاعلة مع القوى المؤثرة كافة؛ بهدف تحقيق أهدافه السياسية والاقتصادية.
        </p>

        <p>
            ومن الأهداف الرئيسة للسياسة الخارجية الأردنية، المساهمة في حفظ الأمن الوطني، وتحقيق المصالح العليا وحمايتها من تداعيات الأوضاع الإقليمية، وتحقيق مستويات أفضل من التقدم الاجتماعي والاقتصادي، والمساهمة في العمل على تطوير نظام إقليمي يواكب ما يبرز على الساحة الدولية من تكتُّلات.
        </p>

        <p>
            وتتسم السياسة الخارجية الأردنية تاريخيًا باعتدالها وواقعيتها وفهمها العميق لمجمل الأوضاع الدولية، وقدرتها على المواءمة بين المصلحة الوطنية والمصلحة العربية العامة، والتوجهات الدولية الحميدة وآليات العمل المشترك، وتحقيق الانسجام بين الخطاب السياسي والممارسة الفعلية.
        </p>

        <p>
            كما تتسم السياسة الخارجية الأردنية بمصداقيتها ووضوحها واعتمادها لغةً واحدة لمخاطبة الداخل والخارج على حدّ سواء، إلى جانب تمسُّكها الوطيد بمبادئها الأساسية بالرغم من التغيرات الإقليمية والدولية.
        </p>

        <p>
            وتواصل السياسة الخارجية الأردنية الانفتاح على دول العالم والمنظمات الدولية، والتفاعل معها وتبادل الخبرات والتعاون في الميادين شتى لتطوير قدرات الدولة الأردنية وتقديم الخدمات الفضلى للأردنيين في الوطن وحول العالم.
        </p>

        <p>
            وتحرص السياسية الخارجية الأردنية على احترام سيادة واستقلال الدول الأخرى وعدم التدخل في شؤونها الداخلية، ويتجسّد التزام المملكة بهذا المبدأ من خلال رفضها التدخلاتِ الخارجيةَ في شؤون الدول ومناداتها بحلّ النزاعات الإقليمية والدولية عبر الحوار والوسائل الدبلوماسية.
        </p>

        <p>
            ومن منطلق الحفاظ على الأمن والسلم الدوليين، يشارك الأردن بفاعلية في مهمات حفظ السلام التابعة للأمم المتحدة والتي استُشهد خلالها كوكبة من أبنائه.
        </p>

        <p>
            ويُعَدّ الالتزام بميثاق الأمم المتحدة وبالشرعية الدولية من المبادئ الأساسية التي تحْكُم السياسية الخارجية الأردنية، إذ تنادي المملكة بضرورة تطبيق قرارات الشرعية الدولية جميعها واحترامها وعدم الانتقائية في التعامل معها، وفي مقدمتها القرارات المتصلة بالقضية الفلسطينية، إيماناً بدور الأمم المتحدة في تنظيم العلاقات الدولية وحلّ النزاعات بالطرق الدبلوماسية.
        </p>

        <p>
            ويؤمن الأردن الذي انضم إلى منظمة الأمم المتحدة في عام 1955 بأن نجاح المنظمة في أداء الرسالة المناطة بها يستلزم عدّ قراراتها واجبة التنفيذ وعدم الانتقائية في تطبيقها من طرف الدول.
        </p>

        <p>
            يلتزم الأردن بشكل كامل بميثاق جامعة الدول العربية، وهو من الدول التي شاركت في رحلة تأسيس الجامعة التي بدأت في عام 1943 وتُوِّجت بـ"بروتوكول الإسكندرية" الذي وقّعه باسم الأردن جلالةُ الملك المؤسس عبدالله الأول -طيب الله ثراه- في 7 تشرين الأول 1944.
        </p>

        <p>
            يعمل الأردن، بقيادته الهاشمية وبما تمثّله من شرعية دينية وتاريخية، بصورة حثيثة على تحقيق التضامن العربي والدفاع عن قضايا الأمة العربية في المحافل الدولية. فالأردن وشعبه جزء لا يتجزأ من الأمة العربية، وتؤكد سياسته الخارجية دائمًا على ضرورة المحافظة على العلاقات الأخوية مع الدول العربية جميعها والقيام بكل ما يمكن لتدعيم أسس التضامن العربي والارتقاء بالعمل المشترك في إطار الجامعة العربية.
        </p>
    </div>
</div>

{% endblock %}